name: Test lint

on:
  workflow_call:

jobs:
  test-lint:
    name: Test lint
    runs-on: ubuntu-latest
    steps:
      - name: Setup environment
        uses: metamask/github-tools/.github/actions/setup-environment@caching
        with:
          should-cache-restore: ${{ vars.USE_CACHING }}

      - name: Lint
        run: yarn lint

      - name: Verify locales
        run: yarn verify-locales --quiet
